__pycache__/
.vscode/
.ipynb_checkpoints/
.DS_Store
classification/demo_segmentation_cache/

ResearchLeads.md
Tasks.md

Models/
Papers/
job_templates/
JupyterNotebooks/Sandbox.ipynb
JupyterNotebooks/sandbox.py
