# Mac OS X 
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
.ipynb_checkpoints/

# HPC jobs
machine.file.*
slurm-*.out
/job_templates/

# Virtual environments
.venv_segmentation/
.venv_generation/

# General

/JupyterNotebooks/
/legacy_resnet_code/
Sandbox.ipynb
sandbox.py
*_DEPRECATED.py

.env

# Program outputs

/Models/
/runs/
/segmentation_demos/
/generation_demos/
/ML_Experiments/configs/
/ML_Experiments/test_configs/

# Personal

/Tasks.md
/ResearchLeads.md
/HyperparamSweep.md
/Experiments.md
/Poster.md
/ProjectBackground.md
/HJ_Meeting.md

/ML_Experiments/
/Notes/
/Papers/

# Data

/SyntheticData/
/Experimental_Data/
